/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

/* Optimo algunos elementos */
html,
body {
  width: 100%;
}

img {
  display: block;
}

hr,
input {
  margin: 0;
}

input[type="submit"] {
  -webkit-appearance: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

textarea {
  font-family: arial;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
  display: block;
}

label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

textarea:focus,
select:focus,
input:focus {
  outline: 0 none;
}

button {
  background: none;
  border: none;
}

input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

:root {
  --swiper-theme-color: #5BE0E7;
}

hr {
  border: 0;
  border-bottom: 2px solid #5BE0E7;
}

.font-w-extra-light, .title-head strong, .home .wrapper h1 span, .main .services ul li .text span, .history .title-head-special, .projects ul .text .title-container h3 {
  font-weight: 200;
}

.font-w-regular, body {
  font-weight: 400;
}

.font-w-semibold, #header ul li a {
  font-weight: 600;
}

.font-w-bold, .btn-primary, .title-head, .title-sub, .home .wrapper h1, .main .services ul li .text, .projects ul .text .title-container h2, footer .container ul li .text h3 {
  font-weight: 800;
}

.margin-auto, .wrap-text, .wrap-text hr, .main .about-us .text, .history hr {
  margin-left: auto;
  margin-right: auto;
}

.mt-10, .main .about-us .text ul li, .social-media li {
  margin-top: 1rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-30 {
  margin-top: 3rem;
}

.mt-40 {
  margin-top: 4rem;
}

.wrap {
  width: 90%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 87.5em) {
  .wrap {
    width: 100%;
  }
}

.wrap-text {
  max-width: 700px;
  text-align: center;
}

.wrap-text hr {
  margin-top: 2em;
  width: 30%;
}

.section-gap {
  margin-top: 2em;
}

@media screen and (min-width: 56.25em) {
  .section-gap {
    margin-top: 6em;
  }
}

.flex, #header, .history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.logo {
  width: 3em;
}

@media screen and (min-width: 56.25em) {
  .logo {
    width: 4em;
  }
}

.radius, .btn-primary, .main .services ul li, .projects ul li, footer .container ul {
  border-radius: 5px;
}

.btn-primary {
  padding: 1.3em 3em;
  background: #012E30;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  letter-spacing: .5px;
  -webkit-transition: 400ms background ease-in-out;
  transition: 400ms background ease-in-out;
}

@media screen and (min-width: 64em) {
  .btn-primary:hover {
    background: #19a2aa;
  }
}

.title-container h2 {
  margin: 1rem 0 1.5rem;
}

.title-head {
  font-size: 2.5em;
  color: #012E30;
  text-transform: uppercase;
}

@media screen and (min-width: 56.25em) {
  .title-head {
    font-size: 3em;
  }
}

.title-sub {
  color: #5BE0E7;
  font-size: 1.1em;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #565656;
  font-size: 14px;
}

@media screen and (min-width: 56.25em) {
  body {
    font-size: 16px;
  }
}

p {
  line-height: 1.6;
}

#header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  padding: 1em 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 56.25em) {
  #header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 56.25em) {
  #header {
    padding: 1em 3em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 56.25em) {
  #header ul {
    margin-top: 1em;
  }
}

#header ul li {
  margin-right: 1em;
}

#header ul li:last-child {
  margin-right: 0;
}

#header ul li a {
  color: #fff;
  text-transform: uppercase;
}

.top-sticky {
  background: rgba(1, 46, 48, 0.7);
}

.top-sticky .logo {
  width: 3em;
}

.home {
  background: url("../img/banner.jpg");
  background-size: cover;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home .wrapper {
  max-width: 500px;
}

.home .wrapper h1,
.home .wrapper h2 {
  color: #012E30;
}

.home .wrapper h2 {
  font-size: 1.2em;
}

.home .wrapper h1 {
  text-transform: uppercase;
  font-size: 3.5em;
  margin-top: 1rem;
}

@media screen and (min-width: 56.25em) {
  .home .wrapper h1 {
    font-size: 4.5em;
  }
}

.home .wrapper p {
  margin-top: 1em;
  color: #fff;
}

@media screen and (max-width: 56.25em) {
  .home .video {
    display: none;
  }
}

@media screen and (min-width: 56.25em) {
  .home .video {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

.home .video img {
  max-width: 500px;
}

.home .video p {
  color: #012E30;
}

.pattern {
  background: url(../img/svg/pattern.svg) no-repeat;
  background-size: cover;
  position: absolute;
  width: 800px;
  height: 1200px;
  bottom: -1600px;
  right: 0;
  z-index: -1;
}

.video-mobile {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 56.25em) {
  .video-mobile {
    display: none;
  }
}

.main {
  margin-top: 4em;
}

@media screen and (min-width: 56.25em) {
  .main {
    margin-top: 15em;
  }
}

.main .services ul {
  margin-top: 2em;
  gap: 2em;
}

@media screen and (min-width: 56.25em) {
  .main .services ul {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.main .services ul li {
  overflow: hidden;
}

.main .services ul li .image {
  background: url("../img/mobiliario.jpg") center;
  background-size: cover;
  height: 400px;
}

.main .services ul li .text {
  background: #fff;
  padding: 1.2em;
  font-size: 1.4em;
  color: #012E30;
  line-height: 1.2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .services ul li .text .icon {
  width: 2em;
}

.main .about-us {
  gap: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 56.25em) {
  .main .about-us {
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
  }
}

.main .about-us .image {
  background: url("../img/about-us.jpg") center;
  background-size: cover;
  height: 800px;
}

.main .about-us .text {
  max-width: 650px;
}

@media screen and (max-width: 56.25em) {
  .main .about-us .text {
    width: 90%;
  }
}

.main .about-us .text .title-container hr {
  width: 20%;
}

.main .about-us .text ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .about-us .text ul li:before {
  content: '';
  display: inline-block;
  background: url("../img/svg/icon.svg") center;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 1em;
}

.history {
  background: url("../img/trayectoria.jpg") center;
  background-size: cover;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.history hr {
  border-color: #fff;
  width: 20%;
}

.history p {
  color: #012E30;
}

.projects ul {
  gap: 2em;
}

@media screen and (min-width: 56.25em) {
  .projects ul {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.projects ul li {
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.projects ul .projects-inside hr {
  width: 30%;
}

.projects ul .projects-inside-2, .projects ul .projects-inside-3, .projects ul .projects-inside-4 {
  height: 350px;
}

.projects ul .projects-inside-2 {
  background-image: url("../img/mobiliario-2.jpg");
}

.projects ul .projects-inside-3 {
  background-image: url("../img/mobiliario-3.jpg");
}

.projects ul .projects-inside-4 {
  background-image: url("../img/mobiliario-3.jpg");
}

.projects ul .span-2 {
  background-image: url("../img/mobiliario-1.jpg");
  height: 400px;
}

@media screen and (min-width: 56.25em) {
  .projects ul .span-2 {
    grid-column: span 2;
  }
}

.projects ul .text {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  color: #fff;
  padding: 0 2em;
  font-size: 1.4em;
  text-transform: uppercase;
}

.projects ul .text .title-container h2 {
  margin: .4em 0 1em;
}

.projects .margin-auto, .projects .wrap-text, .projects .wrap-text hr, .wrap-text .projects hr, .projects .main .about-us .text, .main .about-us .projects .text, .projects .history hr, .history .projects hr {
  text-align: center;
}

.clients .swiper-slide {
  margin-bottom: 4em;
}

footer {
  background: url("../img/footer.png") center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 56.25em) {
  footer {
    padding-bottom: 2em;
  }
}

@media screen and (min-width: 56.25em) {
  footer {
    height: 600px;
  }
}

footer .container {
  margin-top: 15em;
}

@media screen and (min-width: 56.25em) {
  footer .container {
    margin-top: 8em;
  }
}

footer .container ul {
  background: #fff;
  padding: 2em 4em;
  justify-items: center;
  gap: 3em;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 56.25em) {
  footer .container ul {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

footer .container ul .flex, footer .container ul #header, footer .container ul .history {
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container ul li .icon {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1em rgba(1, 46, 48, 0.24);
          box-shadow: 0 0 1em rgba(1, 46, 48, 0.24);
  width: 3em;
}

footer .container ul li .text {
  text-align: left;
}

footer .container ul li .text h3 {
  color: #5BE0E7;
  text-transform: uppercase;
}

footer .container ul li .text h4 {
  margin-top: .5em;
  color: #012E30;
}

.social-media {
  position: absolute;
  bottom: 2em;
  left: 2em;
}

.social-media li {
  display: block;
}

.social-media img {
  width: 1em;
}

.social-media .facebook {
  width: .7em;
}
