@import './reset';
@import './responsive';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');


// Responsive
$mobile_size: 56.250em;
$pc_size: 64em;
$hd_size: 87.5em;

// colores
$primary: #5BE0E7;
$secondary: #012E30;
$white: #fff;
$text: #565656;

:root {
    --swiper-theme-color: #5BE0E7;
}

hr {
    border: 0;
    border-bottom: 2px solid $primary;
}

.font-w {
    &-extra-light {
        font-weight: 200;
    }

    &-regular {
        font-weight: 400;
    }

    &-semibold {
        font-weight: 600;
    }

    &-bold {
        font-weight: 800;
    }
}

// Componentes
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt {
    &-10 {
        margin-top: 1rem;
    }

    &-20 {
        margin-top: 2rem;
    }

    &-30 {
        margin-top: 3rem;
    }

    &-40 {
        margin-top: 4rem;
    }
}

.wrap {
    width: 90%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;

    @include view-hd {
        width: 100%;
    }

    &-text {
        max-width: 700px;
        @extend .margin-auto;
        text-align: center;

        hr {
            margin-top: 2em;
            width: 30%;
            @extend .margin-auto;
        }
    }
}

.section-gap {
    margin-top: 2em;

    @include view-tablet {
        margin-top: 6em;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.logo {
    width: 3em;

    @include view-tablet {
        width: 4em;
    }
}

.radius {
    border-radius: 5px;
}

.btn-primary {
    padding: 1.3em 3em;
    background: $secondary;
    text-transform: uppercase;
    color: $white;
    display: inline-block;
    @extend .font-w-bold;
    letter-spacing: .5px;
    @extend .radius;
    transition: 400ms background ease-in-out;

    @include view-pc {
        &:hover {
            background: darken($primary, 25%);
        }
    }
}

.title {
    &-container {
        h2 {
            margin: 1rem 0 1.5rem;
        }
    }

    &-head {
        font-size: 2.5em;
        @extend .font-w-bold;
        color: $secondary;
        text-transform: uppercase;

        @include view-tablet {
            font-size: 3em;
        }

        strong {
            @extend .font-w-extra-light;
        }
    }

    &-sub {
        color: $primary;
        @extend .font-w-bold;
        font-size: 1.1em;
    }
}


body {
    font-family: 'Poppins', sans-serif;
    @extend .font-w-regular;
    color: $text;
    font-size: 14px;

    @include view-tablet {
        font-size: 16px;
    }
}

p {
    line-height: 1.6;
}

#header {
    @extend .flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: 300ms all ease-in-out;
    padding: 1em 0;
    border-bottom: 1px solid rgba($white, .5);

    @include view-mobile {
        flex-direction: column;
    }

    @include view-tablet {
        padding: 1em 3em;
        justify-content: space-between;
    }

    ul {
        @include view-mobile {
            margin-top: 1em;
        }

        li {
            margin-right: 1em;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: $white;
                @extend .font-w-semibold;
                text-transform: uppercase;
            }
        }
    }
}

.top-sticky {
    background: rgba($secondary, .7);

    .logo {
        width: 3em;
    }
}

.home {
    background: url('../img/banner.jpg');
    background-size: cover;
    height: 100vh;
    align-items: center;
    position: relative;

    .wrapper {
        max-width: 500px;

        h1,
        h2 {
            color: $secondary;
        }

        h2 {
            font-size: 1.2em;
        }

        h1 {
            @extend .font-w-bold;
            text-transform: uppercase;
            font-size: 3.5em;
            margin-top: 1rem;

            @include view-tablet {
                font-size: 4.5em;
            }

            span {
                @extend .font-w-extra-light;
            }
        }

        p {
            margin-top: 1em;
            color: $white;
        }
    }

    .video {
        @include view-mobile {
            display: none;
        }

        @include view-tablet {
            align-items: flex-end;
            justify-content: center;
            gap: 1em;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
        }

        img {
            max-width: 500px;
        }

        p {
            color: $secondary;
        }
    }
}

.pattern {
    background: url(../img/svg/pattern.svg) no-repeat;
    background-size: cover;
    position: absolute;
    width: 800px;
    height: 1200px;
    bottom: -1600px;
    right: 0;
    z-index: -1;
}

.video-mobile {
    justify-content: center;

    @include view-tablet {
        display: none;
    }
}

.main {
    margin-top: 4em;

    @include view-tablet {
        margin-top: 15em;
    }

    .services {
        ul {
            margin-top: 2em;
            gap: 2em;

            @include view-tablet {
                grid-template-columns: repeat(3, 1fr);
            }

            li {
                @extend .radius;
                overflow: hidden;

                .image {
                    background: url('../img/mobiliario.jpg')center;
                    background-size: cover;
                    height: 400px;
                }

                .text {
                    background: $white;
                    padding: 1.2em;
                    font-size: 1.4em;
                    color: $secondary;
                    @extend .font-w-bold;
                    line-height: 1.2;
                    justify-content: space-between;

                    span {
                        @extend .font-w-extra-light;
                    }

                    .icon {
                        width: 2em;
                    }
                }
            }
        }
    }

    .about-us {
        gap: 4em;
        align-items: center;

        @include view-tablet {
            grid-template-columns: 50% auto;
        }

        .image {
            background: url('../img/about-us.jpg')center;
            background-size: cover;
            height: 800px;
        }

        .text {
            max-width: 650px;
            @extend .margin-auto;

            @include view-mobile {
                width: 90%;
            }

            .title-container {
                hr {
                    width: 20%;
                }
            }

            ul {
                li {
                    @extend .mt-10;
                    display: flex;
                    align-items: center;

                    &:before {
                        content: '';
                        display: inline-block;
                        background: url('../img/svg/icon.svg')center;
                        background-size: cover;
                        width: 20px;
                        height: 20px;
                        margin-right: 1em;
                    }
                }
            }
        }
    }
}

.history {
    background: url('../img/trayectoria.jpg')center;
    background-size: cover;
    height: 600px;
    @extend .flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .title-head-special {
        @extend .font-w-extra-light;
    }

    hr {
        border-color: $white;
        width: 20%;
        @extend .margin-auto;
    }

    p {
        color: $secondary;
    }
}

.projects {
    ul {
        @include view-tablet {
            grid-template-columns: repeat(3, 1fr);
        }

        gap: 2em;

        li {
            background-size: cover;
            background-position: center;
            @extend .radius;
            overflow: hidden;
        }

        .projects-inside {
            hr {
                width: 30%;
            }

            &-2,
            &-3,
            &-4 {
                height: 350px;
            }

            &-2 {
                background-image: url('../img/mobiliario-2.jpg');
            }

            &-3 {
                background-image: url('../img/mobiliario-3.jpg');
            }

            &-4 {
                background-image: url('../img/mobiliario-3.jpg');
            }
        }

        .span-2 {
            background-image: url('../img/mobiliario-1.jpg');
            height: 400px;

            @include view-tablet {
                grid-column: span 2;
            }
        }

        .text {
            align-items: flex-end;
            height: 100%;
            color: $white;
            padding: 0 2em;
            font-size: 1.4em;
            text-transform: uppercase;

            .title-container {

                h3 {
                    @extend .font-w-extra-light;
                }

                h2 {
                    @extend .font-w-bold;
                    margin: .4em 0 1em;
                }
            }
        }
    }

    .margin-auto {
        text-align: center;
    }
}

.clients {
    .swiper-slide {
        margin-bottom: 4em;
    }
}

footer {
    background: url('../img/footer.png')center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;

    @include view-mobile {
        padding-bottom: 2em;
    }

    @include view-tablet {
        height: 600px;
    }

    .container {
        margin-top: 15em;

        @include view-tablet {
            margin-top: 8em;
        }

        ul {
            @include view-tablet {
                grid-template-columns: repeat(3, 1fr);
            }

            background: $white;
            padding: 2em 4em;
            justify-items: center;
            gap: 3em;
            box-shadow: 0 0 1em rgba(#000, .1);
            @extend .radius;

            .flex {
                gap: 1em;
                align-items: center;
            }

            li {
                .icon {
                    border-radius: 50%;
                    box-shadow: 0 0 1em rgba(#012E30, .24);
                    width: 3em;
                }

                .text {
                    text-align: left;

                    h3 {
                        color: $primary;
                        @extend .font-w-bold;
                        text-transform: uppercase;
                    }

                    h4 {
                        margin-top: .5em;
                        color: $secondary;
                    }
                }
            }
        }
    }
}

.social-media {
    position: absolute;
    bottom: 2em;
    left: 2em;

    li {
        display: block;
        @extend .mt-10;
    }

    img {
        width: 1em;
    }

    .facebook {
        width: .7em;
    }
}